:root {
    --primary: #13ec5b;
    --text-primary: white;
    --text-secondary: #77a787;
    --text-accent: #13eb5b;
    --bg-primary: #192e21;
    --bg-secondary: #132318;
    --nav-bg: #13371e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100dvh;
    gap: 0.3rem;
}

.config-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    color: white;
    gap: 3rem;
    padding: 2rem;
    width: 340px;
}

.config-nav header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.config-nav p {
    color: var(--text-secondary);
}

.config-nav nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 280px;
}

.config-nav a {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    justify-content: ce;
    text-decoration: none;
    color: var(--text-accent);
    border-radius: 0.5rem;
    padding: 1rem;
}

.active {
    background-color: var(--nav-bg);
    outline: 1px solid var(--primary);
} 