:root {
    --primary: #13ec5b;
    --text-primary: white;
    --transparent: rgb(0 0 0 / 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../assets/images/Fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90dvh;
    margin: 0 auto;
    gap: 1rem;
}

main h1 {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 40px;
    width: 300px;
    text-align: center;
}

main p {
    color: var(--text-primary);
    width: 300px;
    text-align: center;
    font-size: 18px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    margin: 1rem;
}

/* Identificators */
#start {
    background-color: var(--primary);
    width: 230px;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        transform: scale(105%);
    }
}

#config {
    background-color: var(--transparent);
    color: var(--text-primary);
    width: 200px;
    height: 10vh;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        transform: scale(105%);
    }
}   